<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="HOME_LOG_CLAVE" value="validadorcurp/logs/clave.log"/>
    <appender name="FILE-ROLLING-CLAVE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG_CLAVE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>validadorcurp/logs/archived-clave/clave.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level  [%X{transaccion:-FINCOMUN}]  %logger{0} - %method : %line - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.fincomun.validadorcurp" level="debug" additivity="true">
        <appender-ref ref="FILE-ROLLING-CLAVE"/>
    </logger>
    <property name="HOME_LOG_IDENTIFICACION" value="validadorcurp/logs/identificacion.log"/>
    <appender name="FILE-ROLLING-IDENTIFICACION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG_IDENTIFICACION}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>validadorcurp/logs/archived-identificacion/identificacion.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level  [%X{transaccion:-FINCOMUN}]  %logger{0} - %method : %line - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.fincomun.identificacion" level="debug" additivity="true">
        <appender-ref ref="FILE-ROLLING-IDENTIFICACION"/>
    </logger>
    
    <root level="debug"/>
    
</configuration>